# Application Configuration
NODE_ENV=development
PORT=5000

# Database Configuration
DATABASE_URL=mongodb://127.0.0.1:27017/k10_football

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# JWT Authentication Secrets & Expirations (256-bit Cryptographic Hex)
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Security & Encryption
BCRYPT_SALT_ROUNDS=

# Logging
LOG_LEVEL=
